<!DOCTYPE html>
<html lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <!-- head, css, js... -->
    <div th:replace="~{fragments/config :: config}"></div>
    <!-- 페이지의 간결한 설명 -->
    <meta name="description" content="" />
    <!-- 작성자 -->
    <meta name="author" content="sung_ori" />
    <!-- 타이틀 -->
    <title>선거 작성</title>
</head>

<body class="d-flex flex-column h-100 bg-light">
    <main class="flex-shrink-0">
        <!-- nav -->
        <div th:replace="~{fragments/navBar :: navBar}"></div>
        <!-- 페이지내용 -->
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">선거 작성</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-11 col-xl-9 col-xxl-8">
                    <!-- Detail Section-->
                    <section>
                        <form th:action="@{/election/writepro}" th:object="${election}" method="post" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="title" class="form-label">선거 제목</label>
                                <input type="text" class="form-control" id="title" th:field="*{title}" required>
                            </div>
                            <div class="mb-3">
                                <label for="grouptype" class="form-label">투표 대상 그룹</label>
                                <select class="form-select" id="grouptype" th:field="*{grouptype}" required>
                                    <option th:each="group : ${T(com.kisscotp.voteInsight.domain.enums.GroupType).values()}"
                                            th:value="${group}" th:text="${group.value}"></option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="poster" class="form-label">포스터</label>
                                <input type="file" class="form-control" id="poster" name="file" accept="image/*">
                            </div>

                            <div class="mb-3">
                                <label for="progress" class="form-label">진행 상황</label>
                                <select class="form-select" id="progress" th:field="*{progress}" required>
                                    <option value="0">준비중</option>
                                    <option value="1">진행중</option>
                                    <option value="2">투표 종료 열람 가능</option>
                                    <option value="3">열람기간 만료</option>
                                </select>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-between">
                                <a th:href="@{/election/list}" class="btn btn-primary me-md-2 mb-2 mb-md-0">목록</a>
                                <button type="submit" class="btn btn-primary">등록</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <div th:replace="~{fragments/footer :: footer}"></div>

</body>

</html>
