<!DOCTYPE html>
<html lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
        >

    <head>
        <!-- head, css, js... -->
        <div th:replace="~{fragments/config :: config}"></div>
        <!-- 페이지의 간결한 설명 -->
        <meta name="description" content="" />
        <!-- 작성자 -->
        <meta name="author" content="sung_ori" />
        <!-- 타이틀 -->
        <title></title>
    </head>
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <!-- nav -->
            <div th:replace="~{fragments/navBar :: navBar}"></div>
            <!-- 페이지내용 -->
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">공지사항 작성</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                         <!-- Detail Section-->
                            <section>
                                <form th:action="@{/board/writepro}" th:object="${requestDto}" method="post">
                                    <div class="mb-3">
                                        <label for="title" class="form-label">제목</label>
                                        <input type="text" class="form-control" id="title" th:field="*{title}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="username" class="form-label">작성자</label>
                                        <input type="text" class="form-control" id="username" th:field="*{username}">
                                    </div>
                                    <div class="mb-3">
                                        <label for="contents" class="form-label">내용</label>
                                        <textarea class="form-control" id="contents" rows="5" th:field="*{contents}"></textarea>
                                    </div>
                                    <div class="d-grid gap-2 d-md-flex justify-content-md-between">
                                        <a th:href="@{/board/list}" class="btn btn-primary me-md-2 mb-2 mb-md-0">목록</a>
                                        <button type="submit" class="btn btn-primary">등록</button>
                                    </div>
                                </form>
                            </section>   
                    </div>
                </div>
            </div>
        </main>

        <!-- footer -->
        <div th:replace="~{fragments/footer :: footer}"></div>

    </body>
</html>