<!DOCTYPE html>
<html   xmlns="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <body>
            <footer  th:fragment="footer" class="bg-white py-4 mt-auto" id="footer">
                <div class="container px-5">
                    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                        <div class="col-auto"><div class="small m-0">Copyright &copy; Kissco-2024</div></div>
                    </div>
                </div>
            </footer>
    </body>
</html>
<!-- 푸터 입니다 -->