<!DOCTYPE html>
<html lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
        >

    <head>
        <!-- head, css, js... -->
        <div th:replace="~{fragments/config :: config}"></div>
        <!-- 페이지의 간결한 설명 -->
        <meta name="description" content="" />
        <!-- 작성자 -->
        <meta name="author" content="sung_ori" />
        <!-- 타이틀 -->
        <title></title>
    </head>

    <body class="d-flex flex-column h-100 bg-light">
        <!-- nav -->
        <div th:replace="~{fragments/navBar :: navBar}"></div>

        <div>
            <!-- 페이지 내용! -->
        </div>

        <!-- footer -->
        <div th:replace="~{fragments/footer :: footer}"></div>
        
    </body>

</html>

<!-- 
    html파일 새로 만들 때 이 레이아웃 복사해서 사용하시면 됩니다
    "페이지 내용 !" 부분에 페이이제 넣고싶은 내용 넣으면 됩니다!
    물론  div 태그 지워도 되고 body 의 클래스를 변경해도 됩니다 !
    

    fragments 폴더는 요소들 모음
    config = js, css 등 head에 들어갈 내용 (기본 설정이라고 생각해도 될 듯!)
    navBar = 네비게이션 바
    footer = 푸터
    공통요소에 수정 필요하면 fragmrnts 폴더 안의 파일 하나만 수정하면 됨미다!
 -->