<!DOCTYPE html>
<html   xmlns="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <body>
        <nav th:fragment="navBar" class="navbar navbar-expand-lg navbar-light bg-light py-3">
            <div class="container px-5">
                <a class="navbar-brand" th:href="@{/}"><span class="fw-bolder text-primary">VoteInsght</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                        <li class="nav-item"><a class="nav-link" th:href="@{/board/list}">공지사항</a></li>
                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN') and hasRole('ROLE_USER')" ><a class="nav-link" th:href="@{/election/listUser}">투표하기</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/vote/result}">투표결과</a></li>
                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" th:href="@{/user/list}">유저관리</a></li>
                        <li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')"><a class="nav-link" th:href="@{/election/listAdmin}">선거관리</a></li>
                        <li class="nav-item" sec:authorize="!isAuthenticated()"><a class ="nav-link" th:href="@{/loginForm}">로그인</a></li>
                        <li class="nav-item" sec:authorize="isAuthenticated()"><a class ="nav-link" th:href="@{/logout}">로그아웃</a></li>
                        <li class="nav-item" sec:authorize="isAuthenticated()"><span class ="nav-link" th:text="|${user.name} 님 안녕하세요!|">로그인한 사람</span></li>

                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>
<!-- 네비게이션 바 입니다. -->