<!DOCTYPE html>
<html lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
        >

    <head>
        <!-- head, css, js... -->
        <div th:replace="~{fragments/config :: config}"></div>
        <!-- 페이지의 간결한 설명 -->
        <meta name="description" content="패스워드 변경 폼" />
        <!-- 작성자 -->
        <meta name="author" content="sung_ori" />
        <!-- 타이틀 -->
        <title>비밀번호 변경</title>
        <script>
            $(document).ready(function() {
                

                $("#submitBtn").click(function() {
                    let password = $("#password").val();
                    let check = $("#passwordCheck").val();
                    if (password.length < 8) {
                        alert("비밀번호는 8자 이상으로 입력해 주세요.");
                        return;
                    }
                    if (check.length == 0) {
                        alert("비밀번호 확인을 입력해주세요.");
                        return;
                    }
                    if (password != check) {
                        alert("비밀번호가 일치하지 않습니다.")
                        return;
                    }
                    $.ajax({
                        url : "http://localhost:8888/voteInsight/user/passwordUpdate",
                        method : "POST",
                        dataType : "json",
                        data : {
                            "password" : password
                        },
                        success : function(data) {
                            if(data) {
                                alert("비밀번호가 변경되었습니다.")
                            }
                            location.href = "http://localhost:8888/voteInsight/";
                        },
                        error : function(e) {
                            alert("시스템에 문제가 발생했습니다.");
                            cnosole.log(JSON.stringify(e));
                        }
                    })
                })
            });
        </script>
    </head>

    <body class="d-flex flex-column h-100"s>
        <main class="flex-shrink-0">
            <!-- nav -->
            <div th:replace="~{fragments/navBar :: navBar}"></div>

            <div class="container px-5 my-5">

                <div class="text-center mb-5">
                    <h2 class="isplay-5 fw-bolder">
                        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">비밀변호 변경</span></h1>
                    </h2>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-8 col-xxl-5">
                         <!-- Detail Section-->
                         <section>
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-5">
                                    <div class="text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            
                                            <form th:action="@{/user/passwordUpdate}" method="post" id="passwordUpdate">
                                                <label for="studentid">학번</label>
                                                <input type="text"  th:value="${user.studentid}" class="form-control" disabled>
                                                <br>
                                                <label class="form-label" for="grade">학년</label>
                                                    <input id="grade" th:if="${user.grade == 1}" class="form-control" value="1학년" disabled>
                                                    <input id="grade" th:if="${user.grade == 2}" class="form-control" value="2학년" disabled>
                                                    <input id="grade" th:if="${user.grade == 3}" class="form-control" value="3학년" disabled>
                                                    <input id="grade" th:if="${user.grade == 4}" class="form-control" value="4학년" disabled>
                                                <br>
                                                <label class="form-label" for="group">학과</label>
                                                <input type="text"  id="group" th:value="${user.grouptype.value}" class="form-control" disabled>
                                                <br>
                                                <label class="form-label" for="name">이름</label>
                                                <input class="form-control" type="text" id="name" th:value="${user.name}" disabled>
                                                <label class="form-label" for="name">전화번호</label>
                                                <input class="form-control" type="tel"  id="phone" th:value="${user.phone}" disabled>
                                                <br>
                                                <label for="password" class="form-label">변경할 비밀번호</label>
                                                <input type="password" name="password" id="password" class="form-control">
                                                <label for="passwordCheck" class="form-label" >비밀번호 확인</label>
                                                <input type="password"  id="passwordCheck"class="form-control">
                                                <br>
                                                <div class="d-grid gap-2 ">
                                                    <span>
                                                        <button type="button" name="back" class="btn btn-danger col-5 mx-2" onclick="javascript:history.back()">뒤로</button>
                                                        
                                                        <button type="button"  id="submitBtn" class="btn bg-gradient-primary-to-secondary text-white col-5 mx-2" >패스워드 변경</button>
                                                    </span>
                                                </div>
                                                <br>
                                            </form>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>

        <!-- footer -->
        <div th:replace="~{fragments/footer :: footer}"></div>
    </body>
</html>